.addTodoContainer {
    max-width: 736px;
    display: flex;
    flex-direction: row;
    background: transparent;
    justify-content: center;
    gap: 0.5rem;
}

.addTodoContainer input {
    background: var(--gray-500);
    color: var(--gray-300);
    font-size: 1rem;

    width: 100%;
    border: 0;
    resize: none;
    height: 3.375rem;
    padding: 1rem;
    border-radius: 8px;
}

.addTodoContainer button {
    width: 90px;
    border: 0;
    cursor: pointer;
    background: var(--blue-dark);
    border-radius: 8px;
    color: var(--gray-100);
    font-weight: 700;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    line-height: 1.225rem;
    transition: background-color 0.1s;
}

.addTodoContainer button:not(:disabled):hover {
    background: var(--blue);
}

.addTodoContainer button:disabled {
    cursor: not-allowed;
}

.addTodoContainer button img {
    width: 1rem;
    height: 1rem;

}